<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layouts/headerData :: headerData}"></th:block>
<th:block th:replace="~{ layouts/header :: header}"></th:block>

<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-60 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">어디? 어디! 2호선!</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg align-self-baseline">
                <div class="mx-auto mt-5 search-bar input-group mb-3">
                    <input name="q" type="text" class="form-control rounded-pill" placeholder="역명을 입력해주세요! ex. 신촌 신촌역"
                        id="keyword">
                    <div class="input-group-append"></div>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">인기👍 핫플 역 목록</h2>
                <hr class="divider divider-light" />

                <!--인기 역 목록 출력할 부분-->
                <div class="slider slider-1">
                    <div class="slides">
                        <div class="active" style="background-color:red;"></div>
                        <div style="background-color:blue;"></div>
                        <div style="background-color:green;"></div>
                        <div style="background-color:pink;"></div>
                    </div>

                    <div class="pages">
                        <div class="active"></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                    <div class="side-btns">
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4" ><a th:href="@{/station/list}">다른역 더 보기 👉</a></p>
            </div>
        </div>
    </div>
</section>

<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">원하는 걸 눌러주세요! </h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">놀거리</h3>
                    <p class="text-muted mb-0"><a th:href="@{/search/play}">역마다 다양한 놀거리를 제공합니다.</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">먹거리</h3>
                    <p class="text-muted mb-0"><a th:href="@{/search/food}">역마다 다양한 먹거리를 제공합니다.</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">관광명소</h3>
                    <p class="text-muted mb-0"><a th:href="@{/search/visit}">역 근처의 유명한 관광명소를 제공합니다. </a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">리뷰</h3>
                    <p class="text-muted mb-0"><a th:href="@{/review/list}">다양한 리뷰를 보고 싶으신가요?</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Call to Map-->
<section class="page-section bg-dark text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">어딜 가야..할지 모르겠어요.. 🥲</h2>
        <a class="btn btn-light btn-xl" th:href="@{/search/random}">랜덤 역 검색!</a>
    </div>
</section>

<!-- 리뷰들 정리할 곳-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/1.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/2.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/4.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/5.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/6.jpg" title="Project Name">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/6.jpg" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>




<th:block th:replace="~{layouts/footer :: footer}"></th:block>

</body>


</html>
