<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="SeoulTrain(trainApiKey=${trainApiKey})">

    <script type="text/javascript">

        //키워드를 통한 역 정보 호출(api)
        async function StationInfoSet(keyword) {
            if(keyword.endsWith("역")){
                keyword = keyword.substring(0, keyword.length - 1);
            }

            const response = await fetch(`/api/stationInfo?keyword=${keyword}`)
                .catch(error => {
                    console.error("API 호출 중 에러 발생:", error);
                });

            if (response.status >= 500) {
                alert("서버에서 문제가 발생했습니다. 잠시 후 다시 시도해주세요.");
            } else if (response.status >= 400) {
                alert("요청이 잘못되었습니다. 입력 값을 확인해주세요.");
            }
            console.log(response);

            const text = await response.text();

            //파싱
            const dom = new DOMParser();
            const xmlDoc = dom.parseFromString(text, "text/xml");
            const stations = xmlDoc.getElementsByTagName("row");

            //변수 세팅해주기
            for (let i = 0; i < stations.length; i++) {
                let stationInfo = {
                    stationName: stations[i].getElementsByTagName("statnNm")[0]?.textContent || '',
                    arrivalMessage: stations[i].getElementsByTagName("arvlMsg2")[0]?.textContent || '',
                    subwayId: stations[i].getElementsByTagName("subwayId")[0]?.textContent || '',
                    trainLineNm: stations[i].getElementsByTagName("trainLineNm")[0]?.textContent || '',
                    statnFid: stations[i].getElementsByTagName("statnFid")[0]?.textContent || '',
                    statnTid: stations[i].getElementsByTagName("statnTid")[0]?.textContent || '',
                    statnId: stations[i].getElementsByTagName("statnId")[0]?.textContent || ''
                };
                console.log("station: ", stationInfo);
                displayStationInfoOnHTML(stationInfo);
            }
        }

        function displayStationInfoOnHTML(stationInfo) {
            let stationList = document.getElementById("stationList");

            let stationNameItem = document.createElement("li");
            stationNameItem.textContent = `${stationInfo.stationName}: ${stationInfo.arrivalMessage}`;
            stationList.appendChild(stationNameItem);

            let subwayIdItem = document.createElement("li");
            subwayIdItem.textContent = `subwayId : ${stationInfo.subwayId}`;
            stationList.appendChild(subwayIdItem);

            let trainLineNmItem = document.createElement("li");
            trainLineNmItem.textContent = `trainLineNm : ${stationInfo.trainLineNm}`;
            stationList.appendChild(trainLineNmItem);

            let statnFidItem = document.createElement("li");
            statnFidItem.textContent = `statnFid : ${stationInfo.statnFid}`;
            stationList.appendChild(statnFidItem);

            let statnTidItem = document.createElement("li");
            statnTidItem.textContent = `statnTid : ${stationInfo.statnTid}`;
            stationList.appendChild(statnTidItem);

            let statnIdItem = document.createElement("li");
            statnIdItem.textContent = `statnId : ${stationInfo.statnId}`;
            stationList.appendChild(statnIdItem);
        }





    </script>



</th:block>
</html>
